<link rel="stylesheet" href="/css/footer.css">

<footer>
    
        <div id="footerLeft">
            <h4>
                @Copyright- 2020
            </h4>
        </div>
        <div id="footerRight">
            <h5>
                Maintain your contact at your finger tips!!
            </h5>

        </div>
  
</footer>