header{
    height: 2rem;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px ;

}


#page-heading{
     
    color: whitesmoke;
    
}
